<body>
  <section id="parent-section">
    <div class="row" id="top-back-btn">
      <div class="col">
        <i class="fa fa-arrow-left" aria-hidden="true" (click)="onBack()"></i>
      </div>
      <div class="col">
        <nav class="menu">
          <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
          <label class="menu-open-button" for="menu-open">
           <span class="lines line-1"></span>
           <span class="lines line-2"></span>
           <span class="lines line-3"></span>
         </label>
       
          <a href="#" class="menu-item blue" style="display: none;"> <i class="fa fa-anchor"></i> </a>
          <a href="#" class="menu-item green" style="display: none;"> <i class="fa fa-coffee"></i> </a>
          <a href="#" class="menu-item red" style="display: none;"> <i class="fa fa-heart"></i> </a>
          <a (click)="logout()" class="menu-item purple"> <i class="fa-solid fa-right-from-bracket"></i> </a>
          <a (click)="ToAdminPanel()" class="menu-item orange"> <i class="fa-solid fa-home"></i> </a>
          <a href="#" class="menu-item lightblue" style="display: none;"> <i class="fa-solid fa-home"></i> </a>
       </nav>
      </div>
    </div>

    <div class="row" id="main-img-row">
      <div class="col">
        <img src="/assets/teacher.png" alt="" />
      </div>
    </div>

    <div class="row" id="teacher-info-row" *ngFor="let item of teacher" >
      <div class="col" id="teacher-info-col" >
        <h2>Teacher</h2>
        <abbr>{{ item.userName }}</abbr>
        <p>Roll # {{ item.email }}</p>
      </div>
      <div class="col" id="teacher-btn-col" >
        <button class="btn"><i class="fa-solid fa-phone-flip"></i></button>
      </div>
    </div>

    <div class="row" id="teacher-details-row" *ngFor="let item of teacher">
      <div class="col" id="teacher-details-col-1">
        <h2>Father name</h2>
        <p>{{ item.fatherName }}</p>
      </div>
      <div class="col" id="teacher-details-col-2">
        <h2>Contact #</h2>
        <p>{{ item.phoneNumber }}</p>
      </div>
      <div class="col" id="teacher-details-col-3">
        <h2>Address</h2>
        <p></p>
      </div>
      <div class="col" id="teacher-details-col-4">
        <h2>Socials</h2>
        <p>socaials</p>
      </div>
    </div>

    <!-- <section> -->
    <div class="row" id="footer-btn-row">
      <div class="col" id="footer-btn-col">
        <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
        >
          View Classes
          <!-- <i class="fa fa-angle-down"></i> -->
        </button>
      </div>
    </div>
    <!-- Offcanvas for Gaurdain data start here -->
    <div class="row" id="accordion-main-row">
      <div
        class="accordion accordion-flush"
        id="accordionFlushExample"
      >
        <div class="accordion-item">
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="row" id="accordion-search-bar">
                <div class="col">
                  <input type="search"
                  [(ngModel)]="enteredSearchValue"
                  (input)="onSearchTextChanged()" />
                  <label for=""
                    ><i class="fas fa-search"></i
                  ></label>
                </div>
              </div>
              <div
                class="row"
                id="accordion-sec-row"
                *ngFor="let item of teacher"
              >
                <div
                  class="col"
                  id="accordion-sec-col"
                  *ngFor="let studyclass of item.studyClasses | SearchPipe: searchText"
                  (click)="toClassProfile(studyclass.id)"
                  >
                  <div class="col" id="col-1">
                    <img src="/assets/boy.png" alt="" />
                  </div>
                  <div class="col" id="col-2">
                    <h1>{{studyclass.className}}</h1>
                    <p>{{studyclass.classTime}}</p>
                  </div>
                  <div class="col" id="col-3">
                    <i class="fas fa-check-circle"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
