<!-- Offcanvas for Gaurdain data start here -->
<div class="parent">
  <div class="header">
    <div class="row" id="header-row">
      <div class="col" id="header-col-1">
        <i class="fas fa-arrow-left"></i>
      </div>
      <div class="col" id="header-col-2">
        <h5>Supervisors</h5>
      </div>
    </div>
  </div>

  <div class="main-body">
    <div class="row" id="main-row">
      <div class="col" id="main-col-1">
        <h2>Total supervisors : {{ studentscount }}</h2>
      </div>
    </div>

    <!-- offcanvas main section start here -->
    <section id="main-section-parent">
      <!-- offcanvas main section sort button start here -->
      <div class="row" id="main-sec-top-row">
        <div class="col" id="main-sec-top-col">
          <input
            type="search"
            placeholder="Search"
            [(ngModel)]="enteredSearchValue"
            (input)="onSearchTextChanged()"
          />
          <label for="search"
            ><i class="fa fa-search" aria-hidden="true"></i
          ></label>
        </div>
      </div>

      <!-- main section list start here -->
      <div class="row" id="main-list-row" >
        <div
          class="col"
          id="list-parent-col"
          >
          <div
            class="row"
            id="list-row"
            *ngFor="let item of student | SearchStudentPipe : searchText"
            (click)="toStudentProfile(item.id)"
          >
            <div class="col" id="list-inner-col">
              <h1>{{ item.name }}</h1>
              <p>{{ item.rollNumber }}</p>
            </div>
            <div class="col" id="main-list-icon-col">
              <i class="fas fa-long-arrow-alt-right
              " aria-hidden="true"></i>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- Offcanvas for Gaurdain data ends here -->
