<body>
  <!-- header back-btn section  -->
  <div class="row" id="back-btn-row">
    <div class="col" id="back-btn-col">
      <i class="fa fa-arrow-left" aria-hidden="true" (click)="onBack()"></i>
    </div>
  </div>

  <section id="hero-section">
    <!-- hero section start here -->
    <div class="row" id="hero-section-row" *ngFor="let item of class">
      <div class="col" id="hero-section-col">
        <h1>{{ item.className }}</h1>
        <p>Teacher: {{ item.userName }}</p>
      </div>
    </div>
  </section>

  <!-- main section start here -->
  <section id="main-section">
    <div class="row" id="main-teacher-parent-row">
      <div
        class="row"
        id="main-teacher-row"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"
      >
        <div class="col" id="main-teacher-col-1">
          <h1>View Teacher Profile</h1>
        </div>
        <div class="col" id="main-teacher-col-2">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>

    <!-- View Teacher Profile offcanvas  -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header">
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
      <!-- <div class="offcanvas-body"> -->
      <!-- <body> -->
      <section id="parent-section">
        <section>
          <div class="row" id="main-img-row">
            <div class="col">
              <img src="/assets/headmaster.png" alt="" />
            </div>
          </div>
        </section>

        <section>
          <div class="row" id="teacher-info-row">
            <div class="col" id="teacher-info-col" *ngFor="let item of class">
              <h2>Admin</h2>
              <b>{{ item.userName }}</b>
              <p>{{ item.email }}</p>
            </div>
            <div class="col" id="teacher-btn-col"></div>
          </div>
        </section>

        <section>
          <div class="row" id="teacher-details-row" *ngFor="let item of class">
            <div class="col" id="teacher-details-col-1">
              <h2>Father name</h2>
              <p>{{ item.fatherName }}</p>
            </div>
            <div class="col" id="teacher-details-col-1">
              <h2>Contact #</h2>
              <p>{{ item.phoneNumber }}</p>
            </div>
            <div class="col" id="teacher-details-col-1">
              <h2>Address</h2>
              <p>address</p>
            </div>
            <div class="col" id="teacher-details-col-1">
              <h3>Socials</h3>
              <p>
                <i
                  class="fa-brands fa-instagram"
                  style="padding-left: 10px"
                ></i>
                <i class="fa-brands fa-twitter" style="padding-left: 10px"></i>
                <i
                  class="fa-brands fa-facebook-f"
                  style="padding-left: 10px"
                ></i>
              </p>
            </div>
          </div>
        </section>
      </section>
      <!-- </body> -->

      <!-- </div> -->
    </div>
    <!-- View Teacher Profile offcanvas  -->

    <div class="row" id="main-student-parent-row" (click)="toStudentList()">
      <div class="row" id="main-student-row">
        <div class="col" id="main-student-col-1">
          <h1>{{ studentcount }}</h1>
          <p>Students</p>
        </div>
        <div class="col" id="main-student-col-2">
          <div class="col" id="col-1">
            <div style="text-align: center">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          </div>
          <div class="col" id="col-2">
            <img src="/assets/student.png" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Watch Section starts -->
    <div class="row" id="footer">
      <div class="col" *ngFor="let item of class">
        <h1>Class Time - {{ item.classTime }}</h1>
        <i class="fa-solid fa-clock"></i>
      </div>
    </div>
  </section>
</body>
