<body>
  <!-- header back-btn section  -->
  <div class="row" id="back-btn-row">
    <div class="col" id="back-btn-col">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
  </div>

  <section id="hero-section">
    <!-- hero section start here -->
    <div class="row" id="hero-section-row" *ngFor="let item of class">
      <div class="col" id="hero-section-col">
        <h1>{{ item.className }}</h1>
        <p>Teacher: {{ item.userName }}</p>
      </div>
    </div>
  </section>

  <!-- main section start here -->
  <section id="main-section">
    <div class="row" id="main-teacher-parent-row">
      <div class="row" id="main-teacher-row">
        <div class="col" id="main-teacher-col-1">
          <h1>TeacherB</h1>
        </div>
        <div class="col" id="main-teacher-col-2">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>

    <div class="row" id="main-student-parent-row" >
      <div class="row" id="main-student-row" >
        <div class="col" id="main-student-col-1" >
          <h1>100+</h1>
          <p>TeacherB</p>
        </div>
        <div class="col" id="main-student-col-2" >
          <div class="col" id="col-1"  >
            <div style="text-align: center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
          </div>
          <div class="col" id="col-2" >
            <img src="/assets/boy.png" alt="">
        </div>

        </div>
      </div>
    </div>
  </section>
</body>
