@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:host {
  --green: #f5cac1;
  --color-1: #dba100;
  --color: #586e6b;
  --background: #fff;
  --box-color: #d0efc4;
}
body {
  background: linear-gradient(0deg, var(--box-color) 0%, #9baf9a 100%);
  height: 100vh;
}
/* top back btn section styling start here */
#back-btn-row {
  padding: 10px;
}
#back-btn-col i {
  font-size: 20px;
  color: #d2f9a7;
}
/* hero section styling start here */
#hero-section-row {
  height: 37vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
#hero-section-col {
  border-radius: 999px 999em 999em 999em;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #d2f9a7;
  color: #41523a;
  height: 21vh;
  width: 43vh;
}
#hero-section-col h1 {
  font-size: 35px;
  font-weight: 900;
}

/* Main section styling :start here  */
#main-teacher-parent-row {
  display: flex;

  height: 17vh;
  justify-content: center;
  align-content: center;
  padding: 10px;
  row-gap: 10px;
}
#main-teacher-row {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 6px;
  border-radius: 10px;
  background-color: #d8e7b4;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px,
    rgb(199 243 150 / 50%) 0px 0px 0px 1px inset;
}
#main-teacher-col-1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 8vh;
  padding-left: 10px;
}
#main-teacher-col-1 h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--color);
}
#main-teacher-col-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 8vh;
}
#main-teacher-col-2 i {
  color: #dba100;
}

/* Main student section style :start here  */
#main-student-parent-row {
  display: flex;
  height: 25vh;
  justify-content: center;
  align-content: baseline;
  padding: 10px;
  row-gap: 10px;
}
#main-student-row {
  display: grid;
  grid-template-columns: 76% 24%;
  background: #d8e7b4;
  border-radius: 25px;
  padding: 7px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px,
    rgb(199 243 150 / 50%) 0px 0px 0px 1px inset;
  height: 20vh;
}
#main-student-col-1 {
  display: grid;
  flex-wrap: wrap;
  align-content: center;
  height: 13vh;
}
#main-student-col-1 h1 {
  padding-left: 10px;
  font-weight: 600;
  color: var(--color-1);
}
#main-student-col-1 p {
  padding-left: 10px;
  color: var(--color);
}
#main-student-col-2 {
  display: grid;
  height: 18vh;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #dba100;
  border-radius: 50%;
  display: inline-block;
  margin: 1px;
}
#col-2 {
  display: grid;
  justify-content: center;
  align-content: flex-end;
}
#col-2 img {
  max-width: 100%;
  height: auto;
}
/* footer section styling starts */
#footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
#footer .col {
  background-color: #d2f9a7;
  max-width: fit-content;
  text-align: center;
  padding: 14px;
  border-radius: 24px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px,
    rgb(199 243 150 / 50%) 0px 0px 0px 1px inset;
}
#footer .col h1 {
  font-size: 14px;
  font-weight: 400;
  color: #586e6b;
  margin: 0;
}
#footer .col i {
  font-size: 29px;
  font-weight: 400;
  color: #dba100;
}





/*View Teacher profile offcanvas start here */
.offcanvas{
  background: linear-gradient(to top, #daf1d0 52%, #d1fbbb 79%);
}
/* .offcanvas-header{
} */
.offcanvas-header .row{
  width: 100vw;
}
.offcanvas-header .row .col{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  height: 5vh;
  padding-left: 11px;
}
.offcanvas-header .row .col button{
  font-size: 17px;
}

#parent-section {
  height: 100vh;
  
}
#main-img-row .col {
  display: flex;
  justify-content: center;
  padding: 11px;
}
#main-img-row .col img {
  max-width: 89%;
}
#teacher-info-row{
  height: 15vh;
}
#teacher-info-col {
  display: grid;
  justify-content: center;
  align-content: center;
}
#teacher-info-col h2 {
  color: var(--color-1);
  font-size: 17px;
  margin: 0;
  font-weight: 400;
}
#teacher-info-col b {
  color: var(--color);
  font-size: 20px;
  font-weight: 900;
}
#teacher-info-col p {
  color: var(--color);
  font-size: 15px;
  margin: 0;
  font-weight: 400;
}
#teacher-details-row {
  display: grid;
  grid-template-columns: 192px 193px;
  row-gap: 11px;
  padding: 7px;
}
#teacher-details-col-1 {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 14vh;
  background: #beddb1;
  border-radius: 15px;
  width: 47vw;
}
#teacher-details-col-1 h2 {
  font-size: 20px;
  color: var(--color);
}
#teacher-details-col-1 p {
  color: var(--color);
}
 