<body>
  <section id="parent-section">
    <section id="header">
      <!---------Header section start here----------->
      <div class="row" id="header-row">
        <div class="col" id="header-first-icon">
          <i class="fa fa-arrow-left" aria-hidden="true" (click)="onBack()"></i>
        </div>
      </div>
    </section>
    <!---------Header section ends here----------->

    <!---------Hero Section start here--------->
    <section id="hero-section" *ngFor="let item of branch">
      <div class="row" id="hero-row">
        <div class="col" id="hero-col-1">
          <h1 aria-hidden="true">{{ item.branchName }}</h1>
        </div>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasRight"
          aria-labelledby="offcanvasRightLabel"
        >
          <div class="row" id="branch-offcanva-top-row" >
            <div class="offcanvas-header" id="offcanvas-header" >
              <div class="col" id="branch-offcanva-top-col-1" >
                <h5 id="offcanvasRightLabel">Edit Branch Data</h5>
              </div>
              <div class="col" id="branch-offcanva-top-col-2" >
                <button
                  type="button"
                  id="btn-close"
                  class="btn-close text-reset"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
            </div>
          </div>

          <div class="offcanvas-body" id="offcanvas-body">
            <form [formGroup]="editBranchForm" (ngSubmit)="editBranchData()" >
              <div class="row" id="offcanvas-input-row">
                <div class="col" id="edit-branch-name-col">
                  <label for="">
                    <p>Branch Name</p>
                  </label>
                  <input type="text" formControlName="branchName" />
                </div>
                <div class="col" id="edit-branch-city-col">
                  <label for="">City</label>
                  <input type="text" formControlName="city" />
                </div>
                <div class="col" id="edit-branch-address-col">
                  <label for="">Adress</label>
                  <input type="text" formControlName="address" />
                </div>
                <div class="col" id="edit-branch-code-col">
                  <label for="">Branch Code</label>
                  <input type="text" formControlName="branchCode" />
                </div>
              </div>
              <div class="row" id="branch-offcanvas-btn">
                <div class="col">
                  <button
                    type="submit"
                    id="btn-close"
                    class="text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>

            <div class="row" id="branche-offcanvas-footer-row">
              <div class="col">
                <img src="/assets/image-15-2.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="col" id="hero-col-2">
          <span
            ><i class="fa fa-globe" aria-hidden="true"></i>
            <b
              ><br />
              {{ item.address }}
            </b>
          </span>
        </div>
      </div>
    </section>
    <!---------Hero Section ends here--------->

    <!-------- Main section HTML start here ------->
    <section id="main-section">
      <div
        class="row"
        id="your-branch-row"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"
      >
        <div class="col-10" id="your-branch-col-1">
          <h1>Edit Branch Data</h1>
        </div>
        <div class="col-2" id="your-branch-col-2">
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div id="footer-rows">
        <div class="row" id="class-row" (click)="toClassList()">
          <div class="col-9" id="class-col-1">
            <h1>Classes : {{ studyClassCount }}</h1>
            <!-- <p>10+</p> -->
          </div>
          <div class="col-3" id="class-col-2">
            <img src="/assets/students.png" alt="" />
          </div>
        </div>
        <div class="row" id="class-row" (click)="toTeachersList()">
          <div class="col-9" id="class-col-1">
            <h1>Teachers : {{ teachersCount }}</h1>
            <!-- <p>10+</p> -->
          </div>
          <div class="col-3" id="class-col-2">
            <img src="/assets/headmaster.png" alt="" />
          </div>
        </div>
        <!-- <div class="row" id="teacher-row">
          <div class="col-3" id="teacher-col-1">
            <img src="/assets/headmaster.png" alt="" />
          </div>
          <div class="col-9" id="teacher-col-2">
            <h1>Teachers</h1>
          </div>
        </div> -->
        <!--
        <div class="row" id="student-row">
          <div class="col-9" id="student-col-1">
            <h1>Students</h1>
          </div>
          <div class="col-3" id="student-col-2">
            <img src="/assets/student.png" alt="" />
          </div>
        </div> -->
      </div>
    </section>
    <!-------- Main section HTML end here ------->
  </section>
</body>
