<body>
  <section id="parent-section">
    <section id="header">
      <!---------Header section start here----------->
      <div class="row" id="header-row">
        <div class="col" id="header-first-icon">
          <i class="fa fa-arrow-left" aria-hidden="true" (click)="onBack()"></i>
        </div>
      </div>
    </section>
    <!---------Header section ends here----------->

    <!---------Hero Section start here--------->
    <section id="hero-section" *ngFor="let item of branch">
      <div class="row" id="hero-row">
        <div class="col" id="hero-col-1">
          <h1>{{item.branchName}}</h1>
          <!-- <span
            ><i class="fa fa-globe" aria-hidden="true"></i>
            <b> Street A Home # 302</b>
          </span> -->
        </div>
        <div class="col" id="hero-col-2">
          <span
            ><i class="fa fa-globe" aria-hidden="true"></i>
             <b><br> {{item.address}} </b>
          </span>
        </div>
      </div>
    </section>
    <!---------Hero Section ends here--------->

    <!-------- Main section HTML start here ------->
    <section id="main-section">
      <div class="row" id="class-row">
        <div class="col-9" id="class-col-1">
          <h1>Classes : 10+</h1>
          <!-- <p>10+</p> -->
        </div>
        <div class="col-3" id="class-col-2">
          <img src="/assets/students.png" alt="" />
        </div>
      </div>
      <div id="footer-rows">
        <div class="row" id="teacher-row">
          <div class="col-3" id="teacher-col-1">
            <img src="/assets/headmaster.png" alt="" />
          </div>
          <div class="col-9" id="teacher-col-2">
            <h1>Teachers</h1>
          </div>
        </div>

        <div class="row" id="student-row">
          <div class="col-9" id="student-col-1">
            <h1>Students</h1>
          </div>
          <div class="col-3" id="student-col-2">
            <img src="/assets/student.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-------- Main section HTML end here ------->
  </section>
</body>
