@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:host {
  --box1-color: #bd6868;
  --light-green: #55913e;
  --light-yellow: #f5dab4;
  --extra-light: #c6ee9e;
}

body {
  background:  linear-gradient(
    to top,
    #cbffb8 11%,
    #d9ffca  75%
  )
}
#parent-section {
  max-width: 100%;
  height: 100vh;
}
/* Header section styling start here */
#header {
  max-width: 100%;
}
#header-row {
  display: flex;
  max-width: 103%;
  height: 5vh;
  justify-content: space-around;
}
#header-img img {
  position: absolute;
  top: -107px;
  right: 0;
  bottom: 0;
  left: 120px;
  width: 54%;
  height: auto;
  transform: rotate(747deg);
  opacity: 0.2;
}
#header-first-icon {
  display: flex;
  font-size: 23px;
  padding: 10px;
  color: #6c7e65;
}

/* Hero section styling start here */
#hero-section {
  height: 30vh;
  display: grid;
  align-content: center;
  justify-content: center;
}
#hero-row {
  width: 100vw;
  height: 13vh;
}
#hero-col-1 {
  color: #6f8169;
  display: grid;
  justify-content: center;
  align-content: center;
  border-right: 1px solid #8f690c;
  flex-basis: 0;
  padding: 10px;
}
#hero-col-1 h1 {
  color: goldenrod;
  font-size: 36px;
  max-width: fit-content;
  font-weight: 800;
  margin: 0;
}
#hero-col-2{
  color: #6f8169;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
#hero-col-2 b {
  font-weight: 100;
  color: goldenrod;
}

#hero-col-2 i {
  color: #6f8169;
}

/* --------Main section Styling start here----- */
#main-section {
  display: grid;
  gap: 38px;
  align-content: center;
  height: 64vh;
  padding: 20px;
}

/* Classes Row styling start here */
#class-row {
  background-color: #befd94;
  border-radius: 10px;
  height: 12vh;
  padding: 10px;
}
#class-col-1 {
  padding: 10px;
  display: grid;
  align-content: center;
}
#class-col-1 h1 , #teacher-col-2 h1, #student-col-1 h1{
  font-weight: 100;
  color: #ab9a64;
  font-family: math;
  margin: 0;
}
#class-col-1 p{
  font-size: 20px;
  font-weight: 100;
  color: #ab9a64;
  text-align: center;
  max-width: 37%;
}
#class-col-2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  border-left: 1px solid  #b4b780;
}
#class-col-2 img{
  width: 10vw;
}
/* Classes Row styling start here */
#footer-rows{
  display: grid;
  gap: 10px;
}
/* Teachers Row styling start here */
#teacher-row {
  background-color: var(--light-yellow);
  border-radius: 10px;
  height: 10vh;
  padding: 10px;
}
#teacher-col-1 {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  border-right: 1px solid #e3bd60;
}
#teacher-col-1 img{
  width: 10vw;
}
#teacher-col-2 {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
}
/* #teacher-col-2 h1{
  font-weight: 700;
  color: #c7b77b;
  font-family: "Rubik", sans-serif;
  margin: 0;
} */
/* Teachers Row styling start here */

/* students Row styling start here */
#student-row {
  background-color: var(--light-yellow);
  border-radius: 10px;
  height: 10vh;
  padding: 10px;
}
#student-col-1 {
  padding: 10px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
/* #student-col-1 h1{
  font-weight: 700;
  color: #c7b77b;
  font-family: "Rubik", sans-serif;
  margin: 0;
} */
#student-col-2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  border-left: 1px solid #e3bd60;
}
#student-col-2 img{
  width: 10vw;
}
/* Students Row styling start here */
#offcanvas-body {
  height: 91vh;
  position: absolute;
  top: 133px;
  left: 0;
  right: 0;
}
#offcanvas-input-row {
  display: grid;
  grid-template-columns: 373px;
  position: relative;
  left: 0px;
  padding: 10px;
}
#edit-branch-name-col {
  height: 10vh;
  display: grid;
  max-width: 97%;
}
#edit-branch-name-col label {
  display: flex;
  align-content: flex-end;
  height: 0;
  color: #fa9c18;
}
#edit-branch-name-col input {
  display: flex;
  align-items: flex-end;
}
#edit-branch-city-col {
  padding-top: 10px;
  height: 10vh;
  display: grid;
  max-width: 97%;
}
#edit-branch-city-col label {
  display: flex;
  align-content: flex-end;
  height: 0;
  color: #fa9c18;
}
#edit-branch-city-col input {
  display: flex;
  align-items: flex-end;
}
input[type="text"] {
  height: fit-content;
  border-bottom: 1px solid rgb(56, 42, 42);
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  background: none;
}

#edit-branch-address-col {
  height: 10vh;
  display: grid;
  max-width: 97%;
}
#edit-branch-address-col label {
  display: flex;
  align-content: flex-end;
  height: 0;
  color: #fa9c18;
}
#edit-branch-address-col input {
  display: flex;
  align-items: flex-end;
}

#edit-branch-code-col {
  height: 10vh;
  display: grid;
  max-width: 97%;
}
#edit-branch-code-col label {
  display: flex;
  align-content: flex-end;
  height: 0;
  color: #fa9c18;
}
#edit-branch-code-col input {
  display: flex;
  align-items: flex-end;
}
#branch-offcanvas-btn .col {
  display: flex;
  justify-content: flex-end;
}
#branch-offcanvas-btn {
  /* border: 1px solid red; */
  position: relative;
  left: 0;
  max-width: 95%;
}
#branch-offcanvas-btn button {
  border: none;
  width: 99px;
  height: 5vh;
  background-color: #f5c685;
  color: #f4e9d9;
  font-weight: 500;
  border-radius: 5px;
}
#branche-offcanvas-footer-row {
  position: absolute;
  top: 51vh;
  left: 22px;
}
#branche-offcanvas-footer-row .col img {
  width: 88vw;
}
#your-branch-row{
  background-color: #fff5b8;
  border-radius: 10px;
}
#your-branch-col-1{
  display: grid;
  align-content: center;
  padding-left: 10px;
}
#your-branch-col-1 h1{
  padding: 20px;
  color: goldenrod;
  font-weight: 800;
  font-size: 20px;
}
#your-branch-col-2 i{
  color: goldenrod;
  font-size: 20px;
}
#your-branch-col-2{
  display: grid;
  justify-content: center;
  align-content: center;
}
