@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  /* border: 1px solid red; */
}
:host {
  --color-1: #dba100;
  --color: #586e6b;
  --background: #fff;
  --box-color: #d0efc4;
}
body {
  height: 100vh;
  background: linear-gradient(0deg, var(--box-color) 0%, #9baf9a 100%);
}

/* Header section styling start here */
#header-row {
  display: flex;
  justify-content: flex-end;
}
#header-row .col {
  padding: 17px;
  height: 8vh;
}
#header-row .col i {
  font-size: 24px;
  color: var(--color);
  /* position: relative;
    left: 10px; */
}

#hero-section-row {
  display: flex;
  align-content: center;
  height: 38vh;
}
#hero-col-1 {
  display: grid;
  justify-content: center;
  align-content: flex-end;
  text-align: center;
}
#hero-col-inner-1 {
  display: grid;
  justify-content: center;
}
#hero-col-1 i {
  font-size: 20px;
  color: var(--color-1);
}
#hero-col-1 h1 {
  color: #d2f9a7;
  font-weight: 800;
  filter: drop-shadow(0px 6px 3px gray);
}
#hero-col-1 p {
  color: #586e6b;
  font-weight: 100;
}
#hero-col-2 {
  display: grid;
  justify-content: center;
  color: var(--color);
}

#hero-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
}
#hero-col-2 img {
  max-width: 44vw;
  filter: drop-shadow(0px 4px 3px );
}
/* Main section styling start here */
#main-section {
  display: grid;
  align-content: center;
  gap: 10px;
  padding: 10px;
  height: 46vh;
}
#main-sec-first-row {
  display: grid;
  grid-template-columns: 68% 32%;
  row-gap: 1rem;
  border-radius: 10px;
  background-color: #b7df76;
  height: 17vh;
}

/* Your branch section styling start here */
#your-branch-row {
  background-color: #e0fdb3;
  border-radius: 10px;
  height: 10vh;
}

#your-profile-row {
  background-color: #e0fdb3;
  border-radius: 10px;
  height: 10vh;
}
#your-branch-col-1 {
  display: grid;
  align-content: center;
  padding-left: 10px;
}
#your-branch-col-1 h1 {
  color: var(--color-1);
  font-weight: 800;
  font-size: 20px;
  margin: 0;
}
#your-branch-col-2 i {
  color: var(--color-1);
  font-size: 20px;
}
#your-branch-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
}

#footer-box-row {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  width: 46vw;
}
#message-inner-col-1,
#message-inner-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
}
#message-inner-col-1 h1{
    font-size: 20px;
    margin: 0;
    color: #586e6b;
}
#message-inner-col-2 i{
    font-size: 20px;
    margin: 0;
    color: #dba100;
}
#main-sec-second-row {
  display: grid;
  justify-content: center;
  grid-template-columns: 68% 32%;
  row-gap: 1rem;
  background-color: #f1b7b7;
  border-radius: 10px;
  padding: 14px;
}
#branch-inner-col-1,
#branch-inner-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
  /* word-break: break-all; */
}

#branch-inner-col-1 h1{
    margin: 0;
    font-size: 19px;
    color: #586e6b;
}
#branch-inner-col-2 i{
    color: #dba100;
}
/* #offcanvasRight {
  background: linear-gradient(to top, #fff 0%, var(--box-color) 0%);
}
#offcanvas-btn-row {
  position: relative;
  top: 5px;
  left: 0;
}
#offcanvas-btn-col {
  width: 98vw;
  display: grid;
  height: 4vh;
  justify-content: flex-end;
  align-content: center;
}
#offcanvas-btn-col button {
  position: relative;
  right: 16px;
  color: var(--color);
}
#offcanvas-profile-row {
  display: grid;
  grid-template-columns: 133px 250px;
}
#offcanvas-profile-sec {
  position: relative;
  top: 30px;
}
#offcanvas-profile-col-1 {
  display: grid;
  justify-content: center;
  align-content: center;
}
#offcanvas-profile-col-1 img {
  width: 20vw;
}
#offcanvas-profile-col-2 {
  display: grid;
  align-content: center;
  color: var(--color);
}
#offcanvas-main-section {
  position: relative;
  top: 93px;
}
#offcanvas-main-row {
  display: grid;
  grid-template-columns: 381px;
  row-gap: 10px;
}
#offcanvas-main-col-1 {
  height: 9vh;
  padding: 8px;
}
#offcanvas-main-col-1 h2 {
  color: var(--color);
  font-size: 20px;
}
#offcanvas-main-col-1 p {
  color: var(--color-1);
  padding-top: 8px;
}
#offcanvas-main-col-1 div {
  border-bottom: 1px solid var(--color);
  opacity: 0.3;
}
#offcanvas-main-col-2 {
  height: 10vh;
  padding: 8px;
}
#offcanvas-main-col-2 h2 {
  color: var(--color);
  font-size: 20px;
}
#offcanvas-main-col-2 p {
  color: var(--color-1);
  padding-top: 8px;
}
#offcanvas-main-col-2 div {
  border-bottom: 1px solid var(--color);
  opacity: 0.3;
}
#offcanvas-main-col-3 {
  height: 9vh;
  padding: 8px;
}
#offcanvas-main-col-3 h2 {
  color: var(--color);
  font-size: 20px;
}
#offcanvas-main-col-3 p {
  color: var(--color-1);
  padding-top: 8px;
}
#offcanvas-main-col-3 div {
  border-bottom: 1px solid var(--color);
  opacity: 0.3;
}
#offcanvas-main-col-4 {
  height: 9vh;
  padding: 8px;
}
#offcanvas-main-col-4 h2 {
  color: var(--color);
  font-size: 20px;
}
#offcanvas-main-col-4 p {
  color: var(--color-1);
  padding-top: 8px;
}
#offcanvas-main-col-4 div {
  border-bottom: 1px solid var(--color);
  opacity: 0.3;
}

#offcanvasExample {
  background-color: var(--box-color);
}
.supervisor-offcanvas-header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  height: 5vh;
  padding: 5px;
}
.supervisor-offcanvas-header button {
  font-size: 20px;
  position: relative;
  right: 7px;
}
#teacher-offcanvas-row .col img {
  width: 97vw;
}
#name-section-row {
  display: grid;
  grid-template-columns: 66% 40%;
}
#name-section-col-1 {
  display: grid;
  justify-content: center;
  padding: 7px;
  color: var(--color);
}
#name-section-col-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 33vw;
}
#name-section-col-2 i {
  font-size: 30px;
  color: var(--color);
}
#main-detail-section {
  position: relative;
  top: 20px;
  padding: 4px;
}
#main-detail-row {
  display: grid;
  grid-template-columns: 51% 48%;
  column-gap: 5px;
  row-gap: 5px;
  height: 28vh;
}
#main-detail-col-1 {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #c7f3b5;
  border-radius: 15px;
  color: var(--color-1);
}
#main-detail-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #c7f3b5;
  border-radius: 15px;
  color: var(--color-1);
}
#main-detail-col-3 {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #c7f3b5;
  border-radius: 15px;
  color: var(--color-1);
}
#main-detail-col-4 {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #c7f3b5;
  border-radius: 15px;
  color: var(--color-1);
} */
