@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:host {
  --light-green: #cceccc;
  --dark-green: #71c650;
  --font-color: #586e6b;
  --golden: #bc9c00;
  --main-family: "Rubik", sans-serif;
}
body {
  background-image: linear-gradient(to top, #f0f7d3 3%, #d5ffc3 100%);
  height: 100vh;
}

:root {
  --main-family: "Rubik", sans-serif;
  --background-color: #d0efc4;
}
#main-section {
  position: relative;
  background-color: #175000;
}
#header-row {
  max-width: 103%;
  height: 5vh;
}
#first-icon-col {
  font-size: 20px;
  display: grid;
  align-items: center;
  color: #586a47;
  padding-left: 10px;
}

/* Hero section start here */
#hero {
  font-family: var(--main-family);
}
#hero-heading {
  display: grid;
  justify-content: center;
  align-content: end;
  color: #ac8d5a;
}
#hero-heading h1 {
  margin: 0;
  font-weight: 900;
  letter-spacing: 2px;
}
#hero-heading h5 {
  display: grid;
  color: #586a47;
  font-size: 17px;
  font-weight: 400;
}
#hero-img-col {
  display: grid;
  justify-content: center;
  align-content: center;
}
#hero-img-col img {
  width: 40vw;
  transform: rotate(360deg);
}

/* Sort-by section start here */
#sortby-sec-parent {
  position: relative;
  top: 60px;
  height: 64vh;
}
#sortby-sec-row {
  width: 100vw;
  height: 7vh;
  padding: 16px;
  font-family: var(--main-family);
}
#dropdown-btn {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
#dropdown-btn .btn {
  color: #ffffff;
  background-color: #74c955;
  font-size: 13px;
  border-radius: 6px;
  width: 13vw;
  height: 3vh;
}
#search-col {
  display: grid;
  align-items: center;
  text-align: end;
  font-style: inherit;
  color: #586a47;
}

/* plus button offcanvas styling start here */
#sortby-offcanva-top-row {
  width: 100vw;
  height: 0;
}
#sortby-offcanva-top-col-2 {
  position: relative;
  top: 16px;
  right: 16px;
  display: grid;
  justify-content: flex-end;
  align-content: center;
}
/* plus button offcanvas body styling start here */
.offcanvas-body {
  background-color: var(--light-green);
  height: 50%;
}
#input-feild-section {
  position: relative;
  top: 44px;
}
#offcanvas-hero-row {
  /* height: 10vh; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;
}
#offcanvas-hero-col {
  padding: 7px;
}
#offcanvas-hero-col h2 {
  color: var(--font-color);
  margin: 0;
}
#offcanvas-main-row {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 10px;
  justify-content: center;
}
#offcanvas-main-row label {
  color: var(--golden);
}
input[type="text"] {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid var(--font-color);
  background: none;
  outline: none;
  width: 67vw;
}

#offcanvas-main-col-1 {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 7vh;
}
#offcanvas-main-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 7vh;
}
#offcanvas-main-col-3 {
  display: grid;
  justify-content: center;
}
#offcanvas-main-col-3 #btn {
  background-color: var(--golden);
  width: 26vw;
  color: var(--light-green);
  height: 5vh;
}
.supervisor-col {
  visibility: hidden;
}
/* Accordion section styling start here */
#accor-btn-row {
  height: 8vh;
  padding: 10px;
}
#accor-btn-col {
  display: flex;
  justify-content: center;
  width: 65vw;
  background-color: #bc9c00;
  border-radius: 10px;
}
.accordion-button {
  display: grid;
  justify-content: center;
  align-content: center;
  color: #b4dfa0;
  font-weight: 700;
  margin: 0;
}
.accordion-body {
  display: grid;
  gap: 21px;
  overflow: scroll;
  height: 30vh;
  padding-top: 32px;
}
#accordion-main-row {
  padding: 19px;
}
.accordion-flush button {
  background-color: var(--golden);
  padding: 12px;
}
.accordion-item {
  background-color: var(--background-color);
}
#accordion-search-bar .col {
  padding: 11px;
  position: fixed;
  top: 57vh;
}
#accordion-search-bar input[type="search"] {
  width: 78vw;
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(68, 60, 60);
  outline: none;
}
#accordion-sec-row {
  display: grid;
  gap: 10px;
  overflow: scroll;
  height: 9vh;
}
#accordion-sec-col {
  display: flex;
  height: 8vh;
  border-radius: 10px;
  background-color: #b4dfa0;
}
#col-1 {
  display: flex;
  justify-content: center;
  align-content: center;
}
#col-1 img {
  width: 19vw;
}
#col-2 {
  display: grid;
  flex-grow: 3;
  align-content: center;
  padding: 7px;
}
#col-2 h1{
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color:#bc9c00;
}
#col-2 p {
  margin: 0;
  font-size: 15px;
  font-weight: 100;
}
#col-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#col-3 i{
  color: #bc9c00;
}
/* ------------------------ */
#main-sec-row {
  height: 39vh;
  width: 100vw;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  align-content: center;
}
#main-sec-row a {
  text-decoration: none;
  color: #586a47;
}
#main-sec-box1 {
  font-family: var(--main-family);
  display: grid;
  align-items: center;
  text-align: left;
  padding: 10px;
}
#main-sec-box1 {
  display: grid;
  gap: 10px;
  overflow: scroll;
  align-items: baseline;
}
#main-sec-box1 .row {
  background-color: #fff3a8;
  border-radius: 5px;
  height: 10vh;
  display: flex;
  align-content: center;
  box-shadow: rgb(129 120 22 / 25%) 0px 1px 1px,
    rgb(237 255 168 / 8%) 0px 0px 1px 1px;
}
#branch-name-col {
  padding: 10px;
}
#branch-name-col h3 {
  color: var(--font-color);
  font-size: 20px;
  font-weight: 900;
  font-variant: petite-caps;
  margin: 0;
}
#branch-name-col p {
  font-size: 11px;
  margin: 0;
  color: goldenrod;
}
#branch-icon-col {
  display: flex;
  align-items: center;
  justify-content: center;
  color: goldenrod;
}
#student-accor {
  display: grid;
  grid-template-columns: 100%;
}
#guardain-accor {
  display: grid;
  grid-template-columns: 100%;
}
.accordion-body {
  background: none;
}
.accordion-flush .accordion-item {
  background: none;
}

.accordion-button {
  height: 7vh;
  padding: 12px;
  font-size: 20px;
  color: var(--color-1);
  font-weight: 700;
  background-color: #bbff9f;
  border-radius: 7px;
}
.accordion-flush{
  display: grid;
  gap: 20px;
}
