@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:host {
  --color-1: #bc9c00;
  --color: #586e6b;
  --background: #fff;
  --box-color: #daf1d0;
}
body {
  background-color: #fff;
}
#parent-section {
  height: 100vh;
  background: linear-gradient(0deg, var(--box-color) 0%, #9baf9a 100%);
}
/* top back button styling start here */
#top-back-btn .col {
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 15px;
  font-size: 24px;
  color: var(--color);
}
/* top back button styling start here */
#main-img-row .col {
  display: flex;
  justify-content: center;
}
#main-img-row .col img {
  max-width: 67%;
}
/* main img styling start here */

/* Teacher name data section start here */
#teacher-info-row {
  display: grid;
  grid-template-columns: 67% 33%;
  align-content: end;
  height: 17vh;
  /* padding: 19px; */
}

#teacher-info-col {
  display: grid;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}
#teacher-info-col h2 {
  color: var(--color-1);
  font-size: 20px;
  margin: 0;
}
#teacher-info-col abbr {
  color: var(--color);
  font-size: 20px;
}
#teacher-info-col p {
  font-size: 15px;
  color: var(--color);
}
#teacher-btn-col {
  display: grid;
  justify-content: center;
  align-content: center;
}
#teacher-btn-col button {
  text-decoration: none;
  color: aliceblue;
  background-color: var(--color-1);
  border-radius: 26px;
  height: 40px;
  line-height: 1px;
  width: 10vw;
}
/* Teacher deatail row styling section start here */
#teacher-details-row {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 7px;
  height: 36vh;
  justify-content: center;
  align-content: center;
  padding: 14px;
}
#teacher-details-col-1 h2,
#teacher-details-col-2 h2,
#teacher-details-col-3 h2 {
  font-size: 20px;
  color: var(--color);
}
#teacher-details-col-1 p,
#teacher-details-col-2 p,
#teacher-details-col-3 p {
  color: var(--color);
}
#teacher-details-col-1,
#teacher-details-col-2,
#teacher-details-col-3,
#teacher-details-col-4 {
  width: 48vw;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 14vh;
  background-color: #d2f9a7;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px,
    rgb(199 243 150 / 50%) 0px 0px 0px 1px inset;
}
#teacher-details-col-4 h2 {
  font-size: 20px;
  color: var(--color);
}
#teacher-details-col-4 p {
  color: var(--color);
}
/*  footer button section styling start here */
#footer-btn-col {
  display: grid;
  justify-content: center;
  align-content: center;
}
#footer-btn-col button {
  width: 93vw;
  height: 5vh;
  font-size: 17px;
  font-weight: 600;
  color: #586e6b;
  background-color: #d2f9a7;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px,
    rgb(199 243 150 / 50%) 0px 0px 0px 1px inset;
}

/* footer button offcanvas section styling start here */
.offcanvas {
  height: 100vh;
  background: linear-gradient(0deg, var(--box-color) 0%, #9baf9a 100%);
}
.offcanvas-header {
  display: flex;
  justify-content: end;
}
.offcanvas-header .row .col {
  padding-right: 25px;
}
#btn-close {
  font-size: 17px;
}
#profile-section {
  height: 10vh;
}
#profile-img-row {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-content: center;
  height: 17vh;
  padding: 20px;
  /* column-gap: 11px; */
}
#profile-img-col-1,
#profile-img-col-2 {
  display: grid;
  justify-content: flex-start;
  align-content: end;
  border-bottom: 2px solid #586e6b;
}
#profile-img-row #profile-img-col-1 img {
  max-width: 71%;
}
#profile-img-row #profile-img-col-2 h1 {
  font-size: 22px;
  font-weight: 400;
  color: var(--color-1);
  margin: 0;
}

#Guardain-detail-section {
  height: 42vh;
}
#Guardain-detail-row {
  display: grid;
  row-gap: 1rem;
  height: 71vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#Guardain-detail-col-1 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 90vw;
}
#Guardain-detail-col-1 .col,
#Guardain-detail-col-2 .col,
#Guardain-detail-col-3 .col,
#Guardain-detail-col-4 .col {
  padding: 9px;
  display: grid;
  flex-wrap: wrap;
  align-content: flex-end;
  background-color: #d2f9a7;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px,
    rgb(199 243 150 / 50%) 0px 0px 0px 1px inset;
  border-radius: 10px;
}
#Guardain-detail-col-2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 90vw;
}
#Guardain-detail-col-3 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 90vw;
}
#Guardain-detail-col-4 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 90vw;
}
#Guardain-detail-col-1 .col h1,
#Guardain-detail-col-2 .col h1,
#Guardain-detail-col-3 .col h1,
#Guardain-detail-col-4 .col h1 {
  font-size: 20px;
  color: var(--color);
  margin: 0;
}
#Guardain-detail-col-1 .col p,
#Guardain-detail-col-2 .col p,
#Guardain-detail-col-3 .col p,
#Guardain-detail-col-4 .col p {
  color: var(--color-1);
}
/* footer img section styling start here  */
/* #footer-img-section {
}
#footer-img-row {
}
#footer-img-row .col {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#footer-img-row .col img {
  max-width: 20%;
} */
#accor-btn-row {
  height: 8vh;
  padding: 10px;
}
#accor-btn-col {
  display: flex;
  justify-content: center;
  width: 65vw;
  background-color: #bc9c00;
  border-radius: 10px;
}
.accordion-button {
  display: grid;
  justify-content: center;
  align-content: center;
  color: #b4dfa0;
  font-weight: 700;
  margin: 0;
}
.accordion-body {
  display: grid;
  gap: 21px;
  overflow: scroll;
  height: 30vh;
  /* padding-top: 32px; */
}
#accordion-main-row {
  padding: 19px;
  background-color: #d9f9d8;
}
.accordion-flush button {
  background-color: var(--golden);
  padding: 12px;
}
.accordion-item {
  background-color: var(--background-color);
}
#accordion-search-bar .col {
  padding: 11px;
}
#accordion-search-bar input[type="search"] {
  width: 78vw;
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(68, 60, 60);
  outline: none;
}
#accordion-sec-row {
  display: grid;
  gap: 10px;
  overflow: scroll;
  height: 9vh;
}
#accordion-sec-col {
  display: flex;
  height: 8vh;
  border-radius: 10px;
  background-color: #b4dfa0;
}
#col-1 {
  display: flex;
  justify-content: center;
  align-content: center;
}
#col-1 img {
  width: 19vw;
}
#col-2 {
  display: grid;
  flex-grow: 3;
  align-content: center;
  padding: 7px;
}
#col-2 h1{
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color:#bc9c00;
}
#col-2 p {
  margin: 0;
  font-size: 15px;
  font-weight: 100;
}
#col-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#col-3 i{
  color: #bc9c00;
}
