:host {
    --light-green: #cceccc;
    --dark-green: #71c650;
    --font-color: #586e6b;
    --golden: #bc9c00;
    --main-family: "Rubik", sans-serif;
  }
body {
    /* background-color: var(--light-green); */
    font-family: var(--main-family);
    color: var(--font-color);
}
.container {
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    border: 2px solid var(--dark-green);
    box-shadow: 5px 5px 5px var(--dark-green);
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: var(--golden);
    margin-top: 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
label {
    margin-right: 10px;
}
input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: var(--font-color);
    box-shadow: 1px 1px 1px var(--dark-green);
}
button[type="submit"] {
    background-color: var(--dark-green);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--font-color);
    cursor: pointer;
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border: 2px solid var(--dark-green);
    border-radius: 5px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--dark-green);
}
th {
    background-color: var(--dark-green);
    color: white;
    border-right: 1px solid white;
    font-weight: normal;
    text-transform: uppercase;
}
.yes {
    background-color: var(--light-green);
    color: var(--font-color);
}
.no {
    background-color: var(--golden);
    color: white;
}