@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  /* border: 1px solid red; */
}

:host {
  --light-green: #cceccc;
  --dark-green: #71c650;
  --font-color: #586e6b;
  --golden: #bc9c00;
  --main-family: "Rubik", sans-serif;
}
body {
  background-image: linear-gradient(to top, #eaeddd 3%, #d2ffbe 100%);
  height: 100vh;
}

:root {
  --main-family: "Rubik", sans-serif;
  --background-color: #d0efc4;
}
#main-section {
  position: relative;
  background-color: #175000;
}
#header-row {
  max-width: 103%;
  height: 5vh;
}
#first-icon-col {
  font-size: 20px;
  display: grid;
  align-items: center;
  color: #586a47;
  padding-left: 10px;
}

/* Hero section start here */
#hero {
  font-family: var(--main-family);
}
#hero-heading {
  display: grid;
  justify-content: center;
  align-content: end;
  color: #ac8d5a;
}
#hero-heading h1 {
  margin: 0;
  font-weight: 900;
  letter-spacing: 2px;
}
#hero-heading h5 {
  display: grid;
  color: #586a47;
  font-size: 17px;
  font-weight: 400;
}
#hero-img-col {
  display: grid;
  justify-content: center;
  align-content: center;
}
#hero-img-col img {
  width: 40vw;
  transform: rotate(360deg);
}

/* Sort-by section start here */
#sortby-sec-parent {
  position: relative;
  top: 44px;
  height: 71vh;
}
#sortby-sec-row {
  width: 100vw;
  height: 7vh;
  padding: 10px;
  font-family: var(--main-family);
}
#dropdown-btn {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
#dropdown-btn .btn {
  color: #ffffff;
  background-color: #74c955;
  font-size: 13px;
  border-radius: 6px;
  width: 13vw;
  height: 3vh;
}
#search-col {
  display: grid;
  align-items: center;
  text-align: end;
  font-style: inherit;
  color: #586a47;
}

/* plus button offcanvas styling start here */
#sortby-offcanva-top-row {
  width: 100vw;
}
#sortby-offcanva-top-col-2 {
  position: relative;
  top: 16px;
  right: 16px;
  display: grid;
  justify-content: flex-end;
  align-content: center;
}
/* plus button offcanvas body styling start here */
.offcanvas-body {
  background-color: var(--light-green);
  height: 50%;
}
#input-feild-section {
  position: relative;
  top: 44px;
}
#offcanvas-hero-row {
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;
}
#offcanvas-hero-col {
  padding: 7px;
}
#offcanvas-hero-col h2 {
  color: var(--font-color);
}
#offcanvas-main-row {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 10px;
  justify-content: center;
  height: 25vh;
}
#offcanvas-main-row label {
  color: var(--golden);
}
input[type="text"] {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid var(--font-color);
  background: none;
  outline: none;
  width: 67vw;
}

#offcanvas-main-col-1 {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 7vh;
}
#offcanvas-main-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 7vh;
}
#offcanvas-main-col-3 {
  display: grid;
  justify-content: center;
}
#offcanvas-main-col-3 #btn {
  background-color: var(--golden);
  width: 26vw;
  color: var(--light-green);
}

/* ------------------------ */
#main-sec-row {
  height: 39vh;
  width: 100vw;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  align-content: center;
}
#main-sec-row a {
  text-decoration: none;
  color: #586a47;
}
#main-sec-box1 {
  font-family: var(--main-family);
  display: grid;
  align-items: center;
  text-align: left;
  padding: 10px;
}
#main-sec-box1 .row {
  background-color: #fff5b8; 
  border-radius: 5px;
  height: 9vh;
  display: flex;
  align-content: center;
}
#branch-name-col {
  /* display: grid; */
  padding: 10px;
}
#branch-name-col h3 {
  color: var(--font-color);
  font-size: 20px;
  font-weight: 900;
  font-variant: petite-caps;
  margin: 0;
}
#branch-name-col p {
  font-size: 11px;
  margin: 0;
  color: goldenrod;
}
#branch-icon-col {
  display: flex;
  align-items: center;
  justify-content: center;
  color: goldenrod;
}
