@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:host {
  --color-1: #bc9c00;
  --color: #586e6b;
  --background: #fff;
  --box-color: #daf1d0;
}
body {
  position: relative;
  top: -1px;
  background-color: #d0efc4;
  height: 100vh;
  border: 1px solid transparent;
  background: linear-gradient(0deg, var(--box-color) 0%, #9baf9a 100%);
}
.section {
  position: relative;
  top: 0;
}
#head-container {
  width: 100%;
}
#head-container .row {
  height: 15vh;
  display: grid;
  align-content: center;
  grid-template-columns: 80% 20%;
}
#head-container .col {
  display: flex;
  align-content: center;
  flex-wrap: inherit;
  padding-left: 17px;
  /* justify-content: center; */
  color: #586e6b;
}
#head-container h1 {
  margin: 0;
  color: #d2f9a7;
  font-size: 27px;
  font-weight: 800;
  font-family: "Rubik", sans-serif;
  font-variant: petite-caps;
}

/* Main Section styling start here */
.main-section {
  padding: 10px;
  display: grid;
  gap: 10px;
  height: 82vh;
}

#grid-row {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px 4px;
  height: 53vh;
  align-content: center;
}
/* branch box styling start here */
#branch-box {
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 50px;
  padding: 10px;
  background-color: #c9e393;
  border-radius: 10px;
  width: 45vw;
}
#branch-mid-col {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
#branch-mid-col h1 {
  font-size: 37px;
  font-weight: 700;
  color: #96bc00;
  margin: 0;
}
#branch-mid-col p {
  font-size: 21px;
  font-weight: 200;
  color: #978c58;
  margin: 0;
}
#branch-footer-arrow {
  display: grid;
  justify-content: flex-end;
  align-content: center;
  color: #c1ab95;
}
#dot-col {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
#supervisor-box {
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 36px;
  padding: 10px;
  background-color: #ffd9ba;
  border-radius: 10px;
  width: 45vw;
}
.dot {
  height: 6px;
  width: 7px;
  background-color: #cbb18d;
  border-radius: 50%;
  margin: 1px;
  display: inline-block;
}
#teacher-box {
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 36px;
  padding: 10px;
  background-color: #ffd9ba;
  border-radius: 10px;
  width: 45vw;
}
#student-box {
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 50px;
  padding: 10px;
  background-color: #c9e393;
  border-radius: 10px;
  width: 45vw;
}
#role-managment-row {
  background-color: #d2f9a7;
  height: 10vh;
  border-radius: 10px;
  align-content: center;
}
#role-managment-col-1 {
  display: grid;
  align-content: center;
  padding-left: 10px;
}
#role-managment-col-1 h1 {
  font-size: 20px;
  font-weight: 100;
  color: #586e6b;
  max-width: 60%;
  margin: 0;
}
#role-managment-col-2 {
  display: grid;
  align-content: center;
  justify-content: center;
}
#role-managment-col-2 i {
  color: goldenrod;
}

#dean-box {
  background-color: #d2f9a7;
  height: 10vh;
  border-radius: 10px;
}
