<body>
  <div class="container">
    <!-- header start here -->
    <div class="container" id="head-container">
      <div class="row">
        <div class="col">
          <h1>My Dashboard</h1>
        </div>
      </div>
    </div>

    <div class="main-section">
      <div class="row" id="footer-buttons">
        <div class="row" id="role-managment-row">
          <div class="col-10" id="role-managment-col-1">
            <h1>User's Role</h1>
          </div>
          <div class="col-2" id="role-managment-col-2">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>

        <!-- Dean's Box start here -->
        <div class="row" id="dean-box">
          <div class="col-10" id="role-managment-col-1">
            <h1>Your Profile</h1>
          </div>
          <div class="col-2" id="role-managment-col-2">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="row" id="grid-row">
        <!-- ---------------- -->
        <div class="col" id="branch-box">
          <div class="col" id="dot-col">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <div class="col" id="branch-mid-col">
            <h1>210+</h1>
            <p>Students</p>
          </div>
          <div class="col" id="branch-footer-arrow">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>

        <!-- ------------------- -->
        <div class="col" id="supervisor-box">
          <div class="col" id="dot-col">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <div class="col" id="branch-mid-col">
            <h1>210+</h1>
            <p>Students</p>
          </div>
          <div class="col" id="branch-footer-arrow">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>

        <!-- ---------------- -->

        <div class="col" id="teacher-box">
          <div class="col" id="dot-col">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <div class="col" id="branch-mid-col">
            <h1>210+</h1>
            <p>Students</p>
          </div>
          <div class="col" id="branch-footer-arrow">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>

        <!-- ------------------------ -->
        <div class="col" id="student-box">
          <div class="col" id="dot-col">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <div class="col" id="branch-mid-col">
            <h1>210+</h1>
            <p>Students</p>
          </div>
          <div class="col" id="branch-footer-arrow">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>

      
    </div>

    <!-- header end  -->
    <!-- <div class="container" id="main-container">
      <div class="col" id="parent-col">
        <div class="row" id="main-child-row">
          <div class="col" id="main-child-col-1" style="height: 27vh">
            <div class="row" id="inner-child-row">
              <div class="col" id="inner-child-col">
                <div
                  class="row"
                  id="first-img-row"
                  
                >
                  <div class="col" id="dot-col" >
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                </div>
              </div>
              <div
                class="col"
                id="inner-child-col"
                style="height: 18vh; border: 1px solid red"
              >
                <div class="row">
                  <div class="col" id="student-info">
                    <h1>210+</h1>
                    <span>Branches</span>
                  </div>
                </div>
              </div>
              <div
                class="col"
                id="inner-child-col"
                
              >
                <a href="#" style="color: #dac974" id="view-more"
                  ><i
                    (click)="toBranchesList()"
                    class="fa fa-arrow-right"
                    aria-hidden="true"
                  ></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col" id="main-child-col-2" style="height: 27vh">
            <div class="row" id="inner-child-row">
              <div class="col" id="inner-child-col">
                <div class="row" id="first-img-row">
                  <div class="col-6" id="first-img-col">
                    <img src="/Admin/images/teacher.png" alt="" srcset="" />
                  </div>
                  <div class="col-6" id="dot-col">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                </div>
              </div>

              <div class="col" id="inner-child-col" style="height: 18vh">
                <div class="row">
                  <div class="col" id="student-info" style="color: #4cac4c">
                    <h1>50+</h1>
                    <span>teachers</span>
                  </div>
                </div>
              </div>
              <div class="col" id="inner-child-col">
                <a href="#" style="color: #7ac256" id="view-more"
                  ><i class="fa fa-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col" id="main-child-col-3" style="height: 10vh">
            <div class="row" style="height: 10vh">
              <div class="col" id="PO-student">
                <div class="row" style="color: #edcba1">
                  <div
                    class="col-9"
                    id="task-board-heading"
                    style="color: #4cac4c"
                  >
                    <h6>
                      Dean's <br />
                      Task Baord
                    </h6>
                  </div>
                  <div class="col-3" id="task-board-icon">
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col" id="parent-col">
        <div class="row" id="main-child-row">
          <div class="col" id="main-child-col-4" style="height: 10vh">
            <div class="row" style="height: 10vh">
              <div class="col" id="project">
                <div class="row" style="color: #edcba1">
                  <div
                    class="col-9"
                    id="task-board-heading"
                    style="color: #915151"
                  >
                    <h6>Role Management</h6>
                  </div>
                  <div class="col-3" id="task-board-icon">
                    <a
                      (click)="toRoleManagmnent()"
                      style="text-decoration: none"
                      ><i class="fa fa-chevron-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="main-child-col-5" style="height: 27vh">
            <div class="row" id="inner-child-row">
              <div class="col" id="inner-child-col">
                <div class="row" id="first-img-row">
                  <div class="col-6" id="first-img-col">
                    <img src="/Admin/images/headmaster.png" alt="" srcset="" />
                  </div>
                  <div class="col-6" id="dot-col">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                </div>
              </div>
              <div class="col" id="inner-child-col" style="height: 18vh">
                <div class="row">
                  <div class="col" id="student-info" style="color: #915151">
                    <h1>2+</h1>
                    <span>Supervisor</span>
                  </div>
                </div>
              </div>
              <div class="col" id="inner-child-col">
                <a href="#" style="color: #cdaa8c" id="view-more"
                  ><i class="fa fa-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col" id="main-child-col-6" style="height: 27vh">
            <div class="row" id="inner-child-row">
              <div class="col" id="inner-child-col">
                <div class="row" id="first-img-row">
                  <div class="col-6" id="first-img-col">
                    <img src="/Admin/images/boy.png" alt="" srcset="" />
                  </div>
                  <div class="col-6" id="dot-col">
                    <span class="dot"></span>
                    <span class="dot" style="padding-left: 5px"></span>
                    <span class="dot" style="padding-left: 5px"></span>
                  </div>
                </div>
              </div>
              <div class="col" id="inner-child-col" style="height: 18vh">
                <div class="row">
                  <div class="col" id="student-info" style="color: #8a7f75">
                    <h1>31+</h1>
                    <span>Students</span>
                  </div>
                </div>
              </div>
              <div class="col" id="inner-child-col">
                <a href="#" style="color: #969b9c" id="view-more"
                  ><i class="fa fa-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- =================================================== -->
  </div>
</body>
