@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:host {
  --color-1: #bc9c00;
  --color: #586e6b;
  --background: #fff;
  --box-color: #daf1d0;
}
body {
  position: relative;
  top: 0;
  background-color: #d0efc4;
  height: 100vh;
  border: 1px solid transparent;
  background: linear-gradient(to top, #ffffff 0%, #d2ffbe 79%);
}
.section {
  position: relative;
  top: 0;
}
#head-container {
  width: 100%;
}
#head-container .row {
  height: 15vh;
  display: grid;
  align-content: center;
}
#head-container .col {
  padding-left: 10px;
  align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#head-container h1 {
  color: #587a63;
  text-align: left;
  font-size: 27px;
  font-weight: 800;
  font-family: "Rubik", sans-serif;
}




/* Main Section styling start here */
.main-section{
  padding: 10px;
  display: grid;
  gap: 10px;
  height: 82vh;
}


#grid-row{
/* border: 1px solid red; */
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px 4px;
  height: 53vh;
  align-content: center;
}
/* branch box styling start here */
#branch-box{
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 32px;
  padding: 10px;
  background-color: #c9e393;
  border-radius: 10px;
  width: 45vw;
  /* border: 1px solid red; */
  
}
#branch-mid-col{
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
/* border: 1px solid red; */
}
#branch-mid-col h1{
  font-size: 37px;
  font-weight: 700;
  color: var(--color-1);
}#branch-mid-col p{
  font-size: 21px;
  font-weight: 200;
  color: var(--color-1);
}
#branch-footer-arrow{
  display: grid;
  justify-content: flex-end;
  align-content: center;
  color: #bc9c00;
/* border: 1px solid red; */
}
#dot-col{
  display: flex;
  justify-content: flex-end;
  align-content: center;
/* border: 1px solid red; */
}
#supervisor-box{
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 32px;
  padding: 10px;
  background-color: #ffd9ba;
  border-radius: 10px;
  width: 45vw;
  /* border: 1px solid red; */
}
.dot {
  height: 6px;
  width: 7px;
  background-color: var(--color);
  border-radius: 50%;
  margin: 1px;
  display: inline-block;
}
#teacher-box{
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 32px;
  padding: 10px;
  background-color: #ffd9ba;
  border-radius: 10px;
  width: 45vw;
}
#student-box{
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 32px;
  padding: 10px;
  background-color: #c9e393;
  border-radius: 10px;
  width: 45vw;
  
}


/* -------------------------------- */
/* #footer-buttons{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  border: 1px solid red;
} */
#role-managment-row{
  background-color: #fff5b8;
  height: 10vh;
  border-radius: 10px;
  align-content: center;
}
#role-managment-col-1{
  display: grid;
  align-content: center;
  /* align-self: center; */
  padding-left: 10px;
}
#role-managment-col-1 h1{
  font-size: 23px;
  font-weight: 500;
  color: var(--color-1);
  max-width: 60%;
}
#role-managment-col-2{
  display: grid;
  align-content: center;
  justify-content: center;
}
#role-managment-col-2 i{
  color: var(--color-1);
}

#dean-box{
  background-color: #fff5b8;
  height: 10vh;
  border-radius: 10px;
}

