@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  position: relative;
  top: 0;
  background-color: #d0efc4;
  height: 100vh;
  border: 1px solid transparent;
}
.section {
  position: relative;
  top: 0;
}
#head-container {
  width: 100%;
}
#head-container .row {
  height: 15vh;
  display: grid;
  align-content: center;
}
#head-container .col {
  padding-left: 10px;
}
#head-container h1 {
  color: #336342;
  text-align: left;
  font-size: 27px;
  font-weight: 800;
  font-family: "Rubik", sans-serif;
}




/* Main Section styling start here */
.main-section{
  padding: 10px;
  display: grid;
  gap: 10px;
}
#role-managment-row{
  background-color: rgb(67, 78, 69);
  height: 12vh;
}
#role-managment-col-1{
  display: grid;
  align-content: center;
  /* justify-content: center; */
  padding-left: 10px;
}
#role-managment-col-2{
  display: grid;
  align-content: center;
  justify-content: center;
}


#grid-row{
  border: 1px solid red;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px 4px;
}
#branch-box{
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 23px;
  padding: 10px;
}
#dot-col{
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
#supervisor-box{
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 23px;
  padding: 10px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 1px;
  display: inline-block;
}
#teacher-box{
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 23px;
  padding: 10px;
}
#student-box{
  height: 24vh;
  display: grid;
  align-content: center;
  gap: 23px;
  padding: 10px;
}




















































/* ///////////////////////////////// */
/* #main-container {
  width: 378px;
  display: flex;
  background-color: #fff;
  border-radius: 35px 35px 30px 30px;
} */
/* #main-row {
  width: 100%;
  height: 78vh;
} */
/* #parent-col {
  position: relative;
  border-radius: 5px;
} */
/* #main-child-row {
  display: block;
  position: absolute;
  top: 5%;
  right: 16px;
} */
/* #main-child-col-1 {
  width: 41vw;
  border-radius: 20px;
  background-color: #f1e3b5;
  height: 20vh;
} */
/* #main-child-col-2 {
  position: relative;
  top: 10px;
  left: 10px;
  margin: 5px;
  width: 41vw;
  border-radius: 20px;
  background-color: #d9f7ad;
  height: 20vh;
} */
/* #main-child-col-3 {
  position: relative;
  top: 21px;
  margin: 5px;
  width: 41vw;
  border-radius: 20px;
  height: 20vh;
}
#main-child-col-4 {
  position: relative;
  top: 2px;
  margin: 5px;
  width: 41vw;
  border-radius: 20px;
  height: 20vh;
}
#main-child-col-5 {
  position: relative;
  top: 12px;
  left: 0;
  margin: 5px;
  width: 41vw;
  border-radius: 20px;
  background-color: #ffd0c8;
  height: 20vh;
}
#main-child-col-6 {
  position: relative;
  top: 21px;
  left: 0;
  margin: 5px;
  width: 41vw;
  border-radius: 20px;
  background-color: #d9d7d4;
  height: 20vh;
} */
/* #inner-child-row {
  text-align: end;
  display: block;
}
#inner-child-col {
  display: block;
  text-align: right;

} */
/* #first-img-col {
  display: flex;
  text-align: left;
} */
/* #inner-child-col img {
  width: 9vw;
} */
/* #dot-col {
  position: relative;
  top: 4px;
  right: -50px;
  max-width: fit-content;
  text-align: end;
} */

/* three dots styling start here */
/* .dot {
  height: 6px;
  width: 6px;
  border: 1px solid red;
  background-color: #a3a3a3;
  border-radius: 50%;
  display: inline-block;
  padding: 3px;
  margin: 2px;
} */
/* three dots styling ends here */

/* students info section start here */
/* #student-info {
  height: 20vh;
  display: grid;
  color: #ecbe34;
  font-family: var(--main-family);
  text-align: center;
  align-content: center;
} */
/* #student-info h1 {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
} */
/* #PO-student {
  display: grid;
  text-align: center;
  align-content: center;
  position: relative;
  left: 10px;
  border-radius: 15px;
  background-color: #d9f7ad;
}
#PO-student h2 {
  font-size: 16px;
  color: var(--White);
} */
/* #project {
  display: grid;
  text-align: center;
  align-content: center;
  position: relative;
  left: 0;
  border-radius: 15px;
  background-color: #ffd0c8;
} */
/* #project h2 {
  font-size: 16px;
  color: var(--White);
} */
/* #task-board-heading {
  display: grid;
  align-items: center;
  text-align: left;
  position: relative;
  left: 10px;
} */
/* #task-board-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #336342;
}
#view-more {
  font-family: var(--main-family);
  font-weight: 400;
  text-decoration: none;
} */
