<div>
	<form [formGroup]="attendanceform" (submit)="getAttendance()">
		<h1>Date</h1>
		<input type="date" formControlName="date">
		<button type="submit">Submit</button>
	</form>
</div>
<div *ngIf="attendance">
	<h2>Attendance for {{ attendance?.date | date }}</h2>
	<table>
	  <thead>
		<tr>
		  <th>Student Name</th>
		  <th>Attendance Status</th>
		</tr>
	  </thead>
	  <tbody>
		<tr *ngFor="let record of attendance?.attendanceRecords">
		  <td>{{ record.studentId }}</td>
		  <td>{{ record.isPresent ? 'Present' : 'Absent' }}</td>
		</tr>
	  </tbody>
	</table>
  </div>
  <div *ngIf="!attendance">
	<h1>No attendance found</h1>
  </div>
  