<body>
  <div class="offcanva-header">
    <div class="row" id="header-row" >
      <div class="col" id="header-col-1" >
        <i class="fa fa-arrow-left" aria-hidden="true" (click)="onback()"></i>
      </div>
      <div class="col">
        <nav class="menu">
          <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
          <label class="menu-open-button" for="menu-open">
           <span class="lines line-1"></span>
           <span class="lines line-2"></span>
           <span class="lines line-3"></span>
         </label>
       
          <a href="#" class="menu-item blue" style="display: none;"> <i class="fa fa-anchor"></i> </a>
          <a href="#" class="menu-item green" style="display: none;"> <i class="fa fa-coffee"></i> </a>
          <a href="#" class="menu-item red" style="display: none;"> <i class="fa fa-heart"></i> </a>
          <a (click)="logout()" class="menu-item purple"> <i class="fa-solid fa-right-from-bracket"></i> </a>
          <a (click)="ToAdminPanel()" class="menu-item orange"> <i class="fa-solid fa-home"></i> </a>
          <a href="#" class="menu-item lightblue" style="display: none;"> <i class="fa-solid fa-home"></i> </a>
       </nav>
      </div>
    </div>
  </div>

  <div class="Hero-section" >
    <div class="row" id="hero-row" >
      <div class="col" id="hero-col-1" >
        <h2>Total Classes : {{classcount}}</h2>
      </div>
      <div
        class="col"
        id="hero-col-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasTop"
        aria-controls="offcanvasTop"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>

    <div
      class="offcanvas offcanvas-top"
      tabindex="-1"
      id="offcanvasTop"
      aria-labelledby="offcanvasTopLabel"
    >
      <div class="offcanvas-header">
        <div class="row" id="close-btn-row">
          <div class="col" id="close-btn-col">
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
      <div class="offcanvas-body">
        <div class="row" id="offcanvas-hero-row">
          <div class="col" id="offcanvas-hero-col">
            <h2>Add New Class</h2>
          </div>
        </div>

        <form [formGroup]="addClassForm" (ngSubmit)="addClass()">
          <div class="row" id="offcanvas-main-row">
            <div class="col" id="offcanvas-main-col-1">
              <label
                >Class-Name <input type="text" formControlName="className"
              /></label>
            </div>
            <div class="col" id="offcanvas-main-col-2">
              <div class="ngx-timepicker-field-example">
                <ngx-timepicker-field
                  formControlName="classTime"
                ></ngx-timepicker-field>
              </div>
            </div>
            <div [hidden]="true" class="col" id="offcanvas-main-col-2">
              <label
                ><input
                  type="text"
                  [value]="this.branchId"
                  formControlName="branchId"
                />branchId</label
              >
            </div>
            <div class="col" id="offcanvas-main-col-2">
              <label></label>
              <select class="form-control" formControlName="AppUserId">
                <option value="">Select teacher</option>
                <option *ngFor="let item of teacher" value="{{ item.id }}">
                  {{ item.userName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col" id="offcanvas-main-col-3">
            <button type="submit" class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close">Add Class</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="main-body">
    <!-- offcanvas main section start here -->
    <section id="main-section-parent">
      <div class="row" id="main-sec-top-row">
        <div class="col" id="main-sec-top-col-2">
         <input type="search" placeholder="Search"
         [(ngModel)]="enteredSearchValue"
         (input)="onSearchTextChanged()">
         <label for="search"><i class="fa fa-search"></i></label>
        </div>
      </div>

      <div class="row" id="main-list-row" *ngFor="let item of branch">
        <div class="col" id="list-parent-col" *ngFor="let studyClass of item.studyClasses | SearchPipe: searchText ">
          <div class="row" id="list-row">
            <div class="col-10" id="list-inner-col" (click)="toClassProfile(studyClass.id)">
              <h1>{{ studyClass.className }}</h1>
              <p>{{ studyClass.classTime }}</p>
            </div>
            <div class="col-2" id="main-list-icon-col">
              <i class="fa fa-trash" aria-hidden="true" (click)="deleteClass(studyClass.id)"></i>
            </div>
          </div>
        </div>
      </div>
      
    </section>
  </div>
</body>
