<body>
  <div class="offcanva-header">
    <div class="row" id="header-row" >
      <div class="col" id="header-col-1" >
        <h5 id="">Your Classes</h5>
      </div>
      <div class="col" id="header-col-2" ></div>
    </div>
  </div>

  <div class="Hero-section" >
    <div class="row" id="hero-row" >
      <div class="col" id="hero-col-1" >
        <h2>Total Classes : {{classcount}}</h2>
      </div>
      <div
        class="col"
        id="hero-col-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasTop"
        aria-controls="offcanvasTop"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>

    <div
      class="offcanvas offcanvas-top"
      tabindex="-1"
      id="offcanvasTop"
      aria-labelledby="offcanvasTopLabel"
    >
      <div class="offcanvas-header">
        <div class="row" id="close-btn-row">
          <div class="col" id="close-btn-col">
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
      <div class="offcanvas-body">
        <div class="row" id="offcanvas-hero-row">
          <div class="col" id="offcanvas-hero-col">
            <h2>Add New Class</h2>
          </div>
        </div>

        <form [formGroup]="addClassForm" (ngSubmit)="addClass()">
          <div class="row" id="offcanvas-main-row">
            <div class="col" id="offcanvas-main-col-1">
              <label
                >Class-Name <input type="text" formControlName="className"
              /></label>
            </div>
            <div class="col" id="offcanvas-main-col-2">
              <div class="ngx-timepicker-field-example">
                <ngx-timepicker-field
                  formControlName="classTime"
                ></ngx-timepicker-field>
              </div>
            </div>
            <div [hidden]="true" class="col" id="offcanvas-main-col-2">
              <label
                ><input
                  type="text"
                  [value]="this.branchId"
                  formControlName="branchId"
                />branchId</label
              >
            </div>
            <div class="col" id="offcanvas-main-col-2">
              <label></label>
              <select class="form-control" formControlName="AppUserId">
                <option value="">Select teacher</option>
                <option *ngFor="let item of teacher" value="{{ item.id }}">
                  {{ item.userName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col" id="offcanvas-main-col-3">
            <button type="submit" class="btn">Add Class</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="main-body">
    <!-- offcanvas main section start here -->
    <section id="main-section-parent">
      <div class="row" id="main-sec-top-row">
        <div class="col" id="main-sec-top-col-2">
         <input type="search" placeholder="Search"
         [(ngModel)]="enteredSearchValue"
         (input)="onSearchTextChanged()">
         <label for="search"><i class="fa fa-search"></i></label>
        </div>
      </div>

      <div class="row" id="main-list-row" *ngFor="let item of branch">
        <div
          class="col"
          id="list-parent-col"
          *ngFor="let studyClass of item.studyClasses | SearchPipe: searchText "
        >
          <div
            class="row"
            id="list-row"
          >
            <div class="col" id="list-inner-col" (click)="toClassProfile(studyClass.id)">
              <h1>{{ studyClass.className }}</h1>
              <p>{{ studyClass.classTime }}</p>
            </div>
            <div class="col" id="main-list-icon-col">
              <i class="fa fa-trash" aria-hidden="true" (click)="deleteClass(studyClass.id)"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
