<body>

  <section id="parent-section" >
      <section>
          <div class="row" id="top-back-btn" >
              <div class="col">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
          </div>
      </section>

      <section>
          <div class="row" id="main-img-row" >
              <div class="col">
                  <img src="/assets/headmaster.png" alt="">
              </div>
          </div>
      </section>

      <section>
          <div class="row" id="teacher-info-row" >
              <div class="col" id="teacher-info-col" >
                  <h2>Admin</h2>
                  <b>Johnson Doe</b>
                  <!-- <p>Roll # 1234</p> -->
              </div>
              <div class="col" id="teacher-btn-col" >
                  <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                  aria-controls="offcanvasTop"><i class="fa fas fa-user-plus"></i></button>
              </div>
          </div>
      </section>

      <section>
          <div class="row" id="teacher-details-row">
              <div class="col" id="teacher-details-col-1">
                  <h2>Father name</h2>
                  <p>Ibn-e-Batoota</p>
              </div>
              <div class="col" id="teacher-details-col-1">
                  <h2>Contact #</h2>
                  <p>+51 00 00 00</p>
              </div>
              <div class="col" id="teacher-details-col-1">
                  <h2>Registration #</h2>
                  <p>88 99 00 11 55</p>
              </div>
              <div class="col" id="teacher-details-col-1">
                  <h2>Address</h2>
                  <p>Lane # 123 xyz New York</p>
              </div>
          </div>
      </section>


      <section>
          <!-- Offcanvas for Gaurdain data start here -->
          <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
              <div class="offcanvas-header">
                  <!-- <h5 id="offcanvasTopLabel">Offcanvas top</h5> -->
                  <button id="btn-close" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                      aria-label="Close"></button>
              </div>

              <div class="offcanvas-body">
                <body>
                  <!-- Header section start here -->
                  <section id="header-heading-sec">
                      <div class="row" id="header-heading-row">
                          <div class="col">
                              <h1>Edit Your Profile</h1>
                          </div>
                      </div>
                  </section>

                  <!-- input-field section start here -->
                  <section id="input-field-section">
                      <form action="">
                          <div class="row" id="input-field-row">
                              <div class="col" id="name-col" >
                                  <p>Name</p>
                                  <input type="text">
                              </div>
                              <div class="col" id="name-col" >
                                  <p>Email</p>
                                  <input type="text">
                              </div>
                              <div class="col" id="address-col">
                                  <p>Father name</p>
                                  <input type="text">
                              </div>
                              <div class="col" id="city-col">
                                  <p>Address</p>
                                  <input type="text">
                              </div>
                              <div class="col" id="contact-col">
                                  <p>Contact</p>
                                  <input type="text">
                              </div>
                          </div>
                      </form>
                  </section>

                  <section id="footer-btn-section">
                      <div class="row" id="footer-btn-row">
                          <div class="col" id="footer-btn-col-1">
                              <button class="btn">cancel</button>
                          </div>
                          <div class="col" id="footer-btn-col-2">
                              <button class="btn">Save</button>
                          </div>
                      </div>
                  </section>
              </body>

              </div>
          </div>
          <!-- Offcanvas for Gaurdain data ends here -->
      </section>
  </section>
</body>
