@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  /* overflow: hidden; */
  /* border: 1px solid red; */
}
:host {
  --golden: #bc9c00;
  --army-green: #586e6b;
  --box-color: #daf1d0;
  /*  */
  --full-light: #c5dfbc;
  --dark: #48a094;
  --medium: #6c9362;
  --medium-light: #b0cfa5;
  --light: #c4e8c4;
}
body {
  
  height: 100vh;
}
.parent {
  height: 100vh;
  background: linear-gradient(0deg, var(--box-color) 0%, #9baf9a 100%);
}
#header-row {
  height: 7vh;
  padding: 11px;
}
#header-col-1 {
  position: absolute;
  width: auto;
  display: grid;
  justify-content: flex-start;
  align-content: center;
  color: #d2f9a7;
  left: 5vw;
  overflow: hidden;
  top: 3vh;
}
#header-col-1 i{
  font-size: 20px;
}
/* #header-col-2 {
  display: grid;
  justify-content: flex-end;
  align-content: center;
  color: var(--army-green);
} */

/* #header-col-2 h5 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #d2f9a7;
} */
/* hero section styling start here */
.main-body {
  overflow: hidden;
}
#main-row {
  height: 28vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
#main-col-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 999px 999em 999em 999em;
  background-color: #d2f9a7;
  width: 89vw;
  height: 20vh;
}
#main-col-1 h2 {
  color: #41523a;
  margin: 0;
  font-size: 24px;
  font-weight: 800;
}

/* main section header buttons styling start */
#main-section-parent {
  height: 65vh;
  padding-top: 50px;
}
#main-sec-top-row {
  height: 9vh;
  display: grid;
  padding: 9px;
 
}
#main-sec-top-col {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;
  color: var(--army-green);
  background-color: #e0fdb3;
  border-radius: 6px;
}
input[type=search]{
  outline: none;
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  width: 76vw;
}
input[placeholder] {
  font-size: 18px;
}
/* main section lists start here */
#main-list-row {
  height: 55vh;
  display: grid;
  justify-content: center;
  align-content: baseline;
  overflow: scroll;
}
#list-parent-col {
  display: grid;
  align-content: baseline;
  row-gap: 25px;
  overflow: scroll;
  padding: 6px;
}
#list-row {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: #d2f9a7;
  height: 10vh;
  width: 83vw;
  border-radius: 5px;
}
#list-inner-col {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 11px;
  color: var(--medium);
}
#list-inner-col h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
#list-inner-col p {
  margin: 0;
}
#main-list-icon-col {
  display: grid;
  justify-content: center;
  align-content: center;
  color: var(--golden);
}
.no-classes-found {
  background: none;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
#list-parent-col-no {
  display: grid;
  align-content: baseline;
  row-gap: 25px;
  overflow: scroll;
  padding: 6px;
}
#list-row-no {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  /* background-color: #d2f9a7; */
  height: 30vh;
  width: 95vw;
  border-radius: 5px;
}
#list-inner-col-no {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 11px;
  color: var(--medium);
}
#list-inner-col-no h1 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}
#list-inner-col-no p {
  margin: 0;
  
}


/* ng stlyes */
.no-bg {
  background-color: none;
}
#list-row, #list-row.no-bg {
  /* other styles */
  background-color:none;
  padding: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-content: center;
}
@media screen and (max-width: 700px) {
  body {
     padding: 170px 0 0 0;
     width: 100%
  }
}

a {
  color: inherit;
}

.menu-item,
.menu-open-button {
  background: #9baf9a;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  bottom: 45vh;
  left: 48vw;
}

.menu-open {
  display: none;
}

.lines {
  width: 25px;
  height: 3px;
  background: #d2f9a7;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.line-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.line-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
}


/* .menu-item {
  transition: all 0.1s ease 0s;
} */

.menu-item:hover {
  background: #EEEEEE;
  color: #3290B1;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  /* box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); */
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
  transform: translate3d(0.08361px, -104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(90.9466px, -52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(90.9466px, 52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(0.08361px, 104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  -webkit-transition-duration: 580ms;
  -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
  transform: translate3d(-90.86291px, 52.62064px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
  transform: translate3d(-91.03006px, -52.33095px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  -webkit-transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0);
}

.blue {
  background-color: #669AE1;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.blue:hover {
  color: #669AE1;
  text-shadow: none;
}

.green {
  background-color: #70CC72;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.green:hover {
  color: #70CC72;
  text-shadow: none;
}

.red {
  background-color: #FE4365;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.red:hover {
  color: #FE4365;
  text-shadow: none;
}

.purple {
  background-color: #e0fdb3;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  color: #41523a;
}

.purple:hover {
  color: #e0fdb3;
  text-shadow: none;
}

.orange {
  background-color: #e0fdb3;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  color: #41523a;
}

.orange:hover {
  color: #e0fdb3;
  text-shadow: none;
}

.lightblue {
  background-color: #62C2E4;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.lightblue:hover {
  color: #62C2E4;
  text-shadow: none;
}

.credit {
  margin: 24px 20px 120px 0;
  text-align: right;
  color: #EEEEEE;
}

.credit a {
  padding: 8px 0;
  color: #C49CDE;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.credit a:hover {
  text-decoration: underline;
}