<!-- Offcanvas for Gaurdain data start here -->
<div class="parent">
  <div class="header">
    <div class="row" id="header-row">
      <div class="col" id="header-col-1">
        <i class="fas fa-arrow-left" (click)="onBack()"></i>
      </div>
      <div class="col">
        <nav class="menu">
          <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
          <label class="menu-open-button" for="menu-open">
           <span class="lines line-1"></span>
           <span class="lines line-2"></span>
           <span class="lines line-3"></span>
         </label>
       
          <a href="#" class="menu-item blue" style="display: none;"> <i class="fa fa-anchor"></i> </a>
          <a href="#" class="menu-item green" style="display: none;"> <i class="fa fa-coffee"></i> </a>
          <a href="#" class="menu-item red" style="display: none;"> <i class="fa fa-heart"></i> </a>
          <a (click)="logout()" class="menu-item purple"> <i class="fa-solid fa-right-from-bracket"></i> </a>
          <a (click)="ToAdminPanel()" class="menu-item orange"> <i class="fa-solid fa-home"></i> </a>
          <a href="#" class="menu-item lightblue" style="display: none;"> <i class="fa-solid fa-home"></i> </a>
       </nav>
      </div>
    </div>
  </div>

  <div class="main-body">
    <div class="row" id="main-row">
      <div class="col" id="main-col-1">
        <h2>Total Students : {{ studentcount }}</h2>
      </div>
    </div>

    <!-- offcanvas main section start here -->
    <section id="main-section-parent">
      <!-- offcanvas main section sort button start here -->
      <div class="row" id="main-sec-top-row">
        <div class="col" id="main-sec-top-col">
          <input
            type="search"
            placeholder="Search"
            [(ngModel)]="enteredSearchValue"
            (input)="onSearchTextChanged()"
          />
          <label for="search"
            ><i class="fa fa-search" aria-hidden="true"></i
          ></label>
        </div>
      </div>

      <!-- main section list start here -->
      <div class="row" id="main-list-row" *ngFor="let item of studyclass">
        <div *ngIf="item.students.length > 0">
          <div
            class="col"
            id="list-parent-col"
            *ngFor="let student of item.students | SearchStudentPipe : searchText"
          >
            <div class="row" id="list-row" (click)="toStudentProfile(student.id)">
              <div class="col" id="list-inner-col">
                <h1>{{ student.name }}</h1>
                <p>{{ student.rollNumber }}</p>
              </div>
              <div class="col" id="main-list-icon-col">
                <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col" id="list-parent-col-no" *ngIf="item.students.length == 0">
          <div class="row" id="list-row-no">
            <div class="col" id="list-inner-col-no">
              <h1>No students Found.</h1>
              <p>Ask Class Teacher to add students.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- Offcanvas for Gaurdain data ends here -->
