<!-- Supervisor data offcanvas start here -->
<div class="offcanvas-start" id="offcanvasExample">
  <!-- offcanvas header start-->
  <div class="offcanvas-body" id="teacher-offcanvas-body">
    <div class="row" id="teacher-offcanvas-row">
      <div class="col">
        <img src="/assets/bussiness-man.png" alt="" />
      </div>
    </div>
    <!-- offcanvas header ends-->

    <!-- offcanvas name details start -->
    <section id="name-section">
      <div class="row" id="name-section-row">
        <div class="col" id="name-section-col-1" *ngFor="let item of user">
          <h3>Supervisor</h3>
          <strong>{{ item.userName }}</strong>
          <p>{{ item.email }}</p>
        </div>
        <div class="col" id="name-section-col-2">
          <i
            class="fa-solid fa-pen-nib"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          ></i>
        </div>
      </div>
    </section>

    <!-- Branch box offcanvas section start here -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header">
        <div class="row" id="offcanvas-btn-row">
          <div class="col" id="offcanvas-btn-col">
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
      <div class="offcanvas-body">
        <!-- profile data section start here -->
        <section id="offcanvas-profile-sec">
          <div class="row" id="offcanvas-profile-row">
            <div class="col" id="offcanvas-profile-col">
              <strong>Edit Your Profile</strong>
            </div>
          </div>
        </section>

        <!-- supervisor profile main section start here -->
        <section id="offcanvas-main-section">
          <form action="">
          <div class="row" id="offcanvas-main-row">
            <div class="col" id="offcanvas-main-col-1">
              <label for="name">Name:</label>
              <input type="text" id="name" />
            </div>
            <div class="col" id="offcanvas-main-col-2">
              <label for="name">father Name:</label>
              <input type="text" id="name" />
            </div>
            <div class="col" id="offcanvas-main-col-3">
              <label for="name">Email:</label>
              <input type="text" id="name" />
            </div>
            <div class="col" id="offcanvas-main-col-4">
              <label for="name">Contact:</label>
              <input type="text" id="name" />
            </div>
            <div class="col" id="offcanvas-main-col-5">
              <label for="name">Address:</label>
              <input type="text" id="name" />
            </div>
          </div>
          <div class="row" id="footer-btns-row">
            <div class="col" id="footer-btns-col-1">
              <button class="btn" type="button">Click</button>
            </div>
            <div class="col" id="footer-btns-col-2">
              <button class="btn" type="button">Click</button>
            </div>
          </div>
        </form>
        </section>
      </div>
    </div>

    <section id="main-detail-section">
      <div class="row" id="main-detail-row" *ngFor="let item of user">
        <div class="col" id="main-detail-col-1">
          <strong>Father name</strong>
          <p>{{ item.fatherName }}</p>
        </div>
        <div class="col" id="main-detail-col-2">
          <strong>Supervising</strong>
          <p>{{ item.branchName }}</p>
        </div>
        <div class="col" id="main-detail-col-3">
          <strong>Contact</strong>
          <p>{{ item.phoneNumber }}</p>
        </div>
        <div class="col" id="main-detail-col-4">
          <strong>Address</strong>
          <p>{{ item.address }}</p>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- Supervisor data offcanvas start here -->
