
<!-- Supervisor data offcanvas start here -->
<div
class="offcanvas-start"
id="offcanvasExample">
<!-- offcanvas header start-->
<div class="offcanvas-body" id="teacher-offcanvas-body">
  <div class="row" id="teacher-offcanvas-row">
    <div class="col">
      <img src="/assets/bussiness-man.png" alt="" />
    </div>
  </div>
  <!-- offcanvas header ends-->

  <!-- offcanvas name details start -->
  <section id="name-section">
    <div class="row" id="name-section-row">
      <div class="col" id="name-section-col-1" *ngFor="let item of user">
        <h3>Supervisor</h3>
        <strong>{{item.userName}}</strong>
        <p>{{item.email}}</p>
      </div>
      <div class="col" id="name-section-col-2">
        <i class="fa-solid fa-pen-nib"
        data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"></i>
      </div>
    </div>
  </section>


        <!-- Branch box offcanvas section start here -->
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasRight"
          aria-labelledby="offcanvasRightLabel"
        >
          <div class="offcanvas-header">
            <div class="row" id="offcanvas-btn-row">
              <div class="col" id="offcanvas-btn-col">
                <button
                  type="button"
                  class="btn-close text-reset"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
            </div>
          </div>
          <div class="offcanvas-body">
            <!-- profile data section start here -->
            <section id="offcanvas-profile-sec">
              <div class="row" id="offcanvas-profile-row">
                <div class="col" id="offcanvas-profile-col-1">
                  <img src="/assets/school-building.png" alt="" />
                </div>
                <div class="col" id="offcanvas-profile-col-2">
                  <strong>Sidhu Moose Wala</strong>
                </div>
              </div>
            </section>

            <!-- supervisor profile main section start here -->
            <section id="offcanvas-main-section">
              <div class="row" id="offcanvas-main-row">
                <div class="col" id="offcanvas-main-col-1">
                  <h2>Supervisor name</h2>
                  <p>Drake</p>
                  <div></div>
                </div>
                <div class="col" id="offcanvas-main-col-2">
                  <h2>Address</h2>
                  <p>23 Crane Street, Bridgewater,ma, 2324 USA</p>
                  <div></div>
                </div>
                <div class="col" id="offcanvas-main-col-3">
                  <h2>City</h2>
                  <p>USA</p>
                  <div></div>
                </div>
                <div class="col" id="offcanvas-main-col-4">
                  <h2>Contact</h2>
                  <p>+51 22 333 888</p>
                  <div></div>
                </div>
              </div>
            </section>
          </div>
        </div>

  <section id="main-detail-section">
    <div class="row" id="main-detail-row" *ngFor="let item of user">
      <div class="col" id="main-detail-col-1">
        <strong>Father name</strong>
        <p>{{item.fatherName}}</p>
      </div>
      <div class="col" id="main-detail-col-2">
        <strong>Supervising</strong>
        <p>{{item.branchName}}</p>
      </div>
      <div class="col" id="main-detail-col-3">
        <strong>Contact</strong>
        <p>{{item.phoneNumber}}</p>
      </div>
      <div class="col" id="main-detail-col-4">
        <strong>Address</strong>
        <p>{{item.address}}</p>
      </div>
    </div>
  </section>
</div>
</div>
<!-- Supervisor data offcanvas start here -->
