<body>
  <!-- Header section start here -->

  <div class="row" id="header-row" >
    <div class="col" >
      <i class="fa-solid fa-right-from-bracket
      " (click)="Logout()"></i>
    </div>
  </div>

  <div class="row" id="hero-section-row" >
    <div
      class="col"
      id="hero-col-1"
      *ngFor="let item of teacher"

    >
      <h1>{{ item.userName }}</h1>
      <p><i class="fas fa-location"></i>{{ item.email }}</p>
    </div>
    <div class="col" id="hero-col-2" >
      <img src="/assets/bussiness-man.png" alt="" />
    </div>
  </div>

  <!-- Main content section styling start here -->
  <section id="main-section" >

    <div class="row" id="your-branch-row" (click)="toclassesList()">
      <div class="col-10" id="your-branch-col-1">
        <h1>Your Classes</h1>
      </div>
      <div class="col-2" id="your-branch-col-2">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <!-- your branch & profile columns are has same id -->
    <div class="row" id="your-profile-row" (click)="toteacherprofile()">
      <div class="col-10" id="your-branch-col-1">
        <h1>Your Profile</h1>
      </div>
      <div class="col-2" id="your-branch-col-2">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>

    <div class="row" id="footer-box-row" >
      <div class="row" id="main-sec-first-row" (click)="onMessagesClick()">
        <!-- <div class="col" id="message-board-col">
          <div class="row"> -->
        <div class="col" id="message-inner-col-1">
          <h1>Messages</h1>
        </div>
        <div class="col" id="message-inner-col-2">
          <i class="fa-solid fa-angle-right"></i>
        </div>
        <!-- </div>
        </div> -->
      </div>
      <div class="row" id="main-sec-second-row" (click)="onTaskBoardClick()">
        <!-- <div class="col" id="branch-profile-col" type="button">
          <div class="row"> -->
        <div class="col" id="branch-inner-col-1">
          <h1>Task Board</h1>
        </div>
        <div class="col" id="branch-inner-col-2">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </div>
    <!-- </div>
    </div> -->
  </section>
</body>
