@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  /* border: 1px solid red; */
}
:host {
  --color-1: #dba100;
  --color: #586e6b;
  --background: #fff;
  --box-color: #d0efc4;
}
body {
  height: 100vh;
  background: linear-gradient(0deg, var(--box-color) 0%, #9baf9a 100%);
}

/* Header section styling start here */
#header-row .col {
  padding: 21px;
  height: 10vh;
}
#header-row .col i {
  font-size: 24px;
  color: var(--color);
  display: flex;
  align-content: center;
  /* position: relative;
    left: 10px; */
}

#hero-section-row {
  display: flex;
  align-content: center;
  height: 38vh;
}
#hero-col-1 {
  display: grid;
  justify-content: center;
  align-content: flex-end;
  text-align: center;
}
#hero-col-inner-1 {
  display: grid;
  justify-content: center;
}
#hero-col-1 i {
  font-size: 20px;
  color: var(--color-1);
}
#hero-col-1 h1 {
  color: #d2f9a7;
  font-weight: 800;
  filter: drop-shadow(0px 6px 3px gray);
}
#hero-col-1 p {
  color: #586e6b;
  font-weight: 100;
}
#hero-col-2 {
  display: grid;
  justify-content: center;
  color: var(--color);
}

#hero-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
}
#hero-col-2 img {
  max-width: 44vw;
  filter: drop-shadow(0px 4px 3px );
}
/* Main section styling start here */
#main-section {
  display: grid;
  align-content: center;
  gap: 10px;
  padding: 10px;
  height: 46vh;
}
#main-sec-first-row {
  display: grid;
  grid-template-columns: 68% 32%;
  row-gap: 1rem;
  border-radius: 10px;
  background-color: #b7df76;
  height: 17vh;
}

/* Your branch section styling start here */
#your-branch-row {
  background-color: #e0fdb3;
  border-radius: 10px;
  height: 10vh;
}

#your-profile-row {
  background-color: #e0fdb3;
  border-radius: 10px;
  height: 10vh;
}
#your-branch-col-1 {
  display: grid;
  align-content: center;
  padding-left: 10px;
}
#your-branch-col-1 h1 {
  color: var(--color-1);
  font-weight: 800;
  font-size: 20px;
  margin: 0;
}
#your-branch-col-2 i {
  color: var(--color-1);
  font-size: 20px;
}
#your-branch-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
}

#footer-box-row {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  width: 46vw;
}
#message-inner-col-1,
#message-inner-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
}
#message-inner-col-1 h1{
    font-size: 20px;
    margin: 0;
    color: #586e6b;
}
#message-inner-col-2 i{
    font-size: 20px;
    margin: 0;
    color: #dba100;
}
#main-sec-second-row {
  display: grid;
  justify-content: center;
  grid-template-columns: 68% 32%;
  row-gap: 1rem;
  background-color: #f1b7b7;
  border-radius: 10px;
  padding: 14px;
}
#branch-inner-col-1,
#branch-inner-col-2 {
  display: grid;
  justify-content: center;
  align-content: center;
  /* word-break: break-all; */
}

#branch-inner-col-1 h1{
    margin: 0;
    font-size: 19px;
    color: #586e6b;
}
#branch-inner-col-2 i{
    color: #dba100;
}
                   