@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");


.row{
  height: 6vh;
  display: grid;
  justify-content: flex-end;
  align-content: center;
}
#search-col-1{
  display: flex;
}
input {
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
input[type="text"] {
  outline: none;
  border-bottom: 1px solid gray;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
.show-search input {
  width: 200px;
}
